interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header><ns0:Authorization
      xmlns:ns0="http://datalinkservices.org/"><ns0:AcctID>D2936</ns0:AcctID><ns0:UserID>bill</ns0:UserID><ns0:Password>qwerty123456</ns0:Password><ns0:NewPassword>qwerty123456</ns0:NewPassword></ns0:Authorization></soap-env:Header><soap-env:Body><ns0:changePassword
      xmlns:ns0="http://datalinkservices.org/"/></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"http://datalinkservices.org/changePassword"']
    method: POST
    uri: https://www.testimvrs.com/DLOrderService/DatalinkOrderService.asmx
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><soap:Fault><faultcode>soap:Client</faultcode><faultstring>Invalid
        UserID or Password</faultstring><faultactor>OrderService</faultactor><detail><Error
        xmlns="http://mvrservices.org/OrderService"><ErrorNumber>-103</ErrorNumber><ErrorMessage>Invalid
        UserID or Password</ErrorMessage><ErrorSource>changePassword</ErrorSource></Error></detail></soap:Fault></soap:Body></soap:Envelope>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 500, message: Internal Server Error}
version: 1
