interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <BGC version="4.14" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><login><user>bgc_user</user><password>bgc_password</password><account>99999999</account></login><product><USOneTrace
      version="1"><order><SSN>899991234</SSN><firstName>John</firstName><lastName>Jones</lastName></order></USOneTrace></product></BGC>'
    headers:
    method: POST
    uri: https://direct2m.backgroundchecks.com/integration/bgcdirectpost.aspx
  response:
    body: {string: '<BGC orderId="fb4ee64c-0906-4c5a-b3c4-6ff81f2010e9"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.backgroundchecks.com/BgcDirect.Model/4.14/OnlineResponse.xsd"><product><USOneTrace
        version="1"><order><SSN>XXXXX1234</SSN><lastName>Jones</lastName><firstName>John</firstName></order><response><errors><error
        code="28">No addresses on file for the SSN.</error></errors><records /></response></USOneTrace></product></BGC>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
