interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <BGC version="4.14" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><login><user>bgc_user</user><password>bgc_password</password><account>99999999</account></login><product><USOneTrace
      version="1"><order><SSN>89999666</SSN><firstName>Bob</firstName><lastName>Cornwallis</lastName></order></USOneTrace></product></BGC>'
    headers:
    method: POST
    uri: https://direct2m.backgroundchecks.com/integration/bgcdirectpost.aspx
  response:
    body: {string: <BGC><response><errors><error code="23">The 'SSN' element is invalid
        - The value '89999666' is invalid according to its datatype 'SsnType' - The
        actual length is less than the MinLength value.</error></errors></response></BGC>}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
