interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <BGC version="4.14" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><login><user>bgc_user</user><password>bgc_password</password><account>99999999</account></login><product><USOneTrace
      version="1"><order><SSN>999999999</SSN><firstName>jonh</firstName><lastName>doe</lastName></order></USOneTrace></product></BGC>'
    headers:
      Content-type: [text/xml; charset=utf-8]
    method: POST
    uri: https://direct2m.backgroundchecks.com/integration/bgcdirectpost.aspx
  response:
    body: {string: '<BGC orderId="def85518-4cd9-4db2-9d88-5c7c0da41bc7"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.backgroundchecks.com/BGCDirect/4.14/OnlineResponse.xsd"><product><USOneTrace version="1"><order><SSN>XXXXX5584</SSN><lastName>Rahma</lastName><firstName>Rahier</firstName></order><response><records><record><firstName>Jonh</firstName><middleName /><lastName>Doe</lastName><streetNumber>816</streetNumber><streetPreDirection>N</streetPreDirection><streetName>DEARBORN</streetName><streetPostDirection /><streetSuffix>ST</streetSuffix><city>CHICAGO</city><state>IL</state><county>COOK</county><postalCode>60610</postalCode><postalCode4>7588</postalCode4><dateFirstSeen><year>2007</year><month>1</month></dateFirstSeen><dateLastSeen><year>2018</year><month>9</month></dateLastSeen><dob><month>3</month><year>1977</year><day>11</day></dob><verified>NO</verified><phoneInfo /></record><record><firstName>Jonh</firstName><middleName /><lastName>Doe</lastName><streetNumber>816</streetNumber><streetPreDirection>N</streetPreDirection><streetName>DEARBORN</streetName><streetPostDirection /><streetSuffix>ST</streetSuffix><unitNumber>C</unitNumber><city>CHICAGO</city><state>IL</state><county>COOK</county><postalCode>60610</postalCode><postalCode4>7326</postalCode4><dateFirstSeen><year>2016</year><month>12</month></dateFirstSeen><dateLastSeen><year>2018</year><month>9</month></dateLastSeen><dob><month>3</month><year>1977</year><day>11</day></dob><verified>NO</verified><phoneInfo /></record><record><firstName>Jonh</firstName><middleName /><lastName>Doe</lastName><streetNumber>816</streetNumber><streetPreDirection>N</streetPreD[...]
