interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <BGC version="4.14" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><login><user>TurnTechINTtest</user><password>!nt3grat!0n1</password><account>10028269</account></login><product><MultiStateOneSearch
      version="1"><order><SSN>048920148</SSN><firstName>Luis</firstName><lastName>Morales</lastName><middleName>Alberto</middleName><states><state>CT</state><state>TX</state><state>IL</state></states><DOB><month>10</month><day>20</day><year>1994</year></DOB></order><custom><options><includeSources>YES</includeSources><includeDetails>YES</includeDetails></options><filters><SOF><firstName><filterType>FM</filterType></firstName><lastName><filterType>XM</filterType></lastName><DOB><matchFuzzyDates>YES</matchFuzzyDates><matchMissingDates>YES</matchMissingDates></DOB></SOF><GCF><firstName><filterType>FM</filterType></firstName><lastName><filterType>XM</filterType></lastName><DOB><matchFuzzyDates>YES</matchFuzzyDates><matchMissingDates>NO</matchMissingDates></DOB></GCF></filters></custom><certifications><purpose>EMPLOYMENT</purpose><jurisdiction>CT</jurisdiction></certifications></MultiStateOneSearch></product></BGC>'
    headers:
      Content-type: [text/xml; charset=utf-8]
    method: POST
    uri: https://direct2m.backgroundchecks.com/integration/bgcdirectpost.aspx
  response:
    body: {string: '<BGC orderId="dcd7a6e9-cdbd-4aee-9872-ea98dc76f94f"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.backgroundchecks.com/BgcDirect.Model/4.14/OnlineResponse.xsd"><product><MultiStateOneSearch
        version="1"><order><lastName>Morales</lastName><firstName>Luis</firstName><middleName>Alberto</middleName><SSN>XXXXX0148</SSN><DOB><month>10</month><day>20</day><year>1994</year><states><state>CT</state><state>TX</state><state>IL</state></states></DOB></order><custom><filters><SOF><firstName><filterType>FM</filterType></firstName><middleName><filterType>FM</filterType></middleName><lastName><filterType>XM</filterType></lastName><DOB><yearRange>0</yearRange><matchFuzzyDates>YES</matchFuzzyDates><matchMissingDates>YES</matchMissingDates></DOB></SOF><GCF><firstName><filterType>FM</filterType></firstName><middleName><filterType>FM</filterType></middleName><lastName><filterType>XM</filterType></lastName><DOB><yearRange>0</yearRange><matchFuzzyDates>YES</matchFuzzyDates><matchMissingDates>NO</matchMissingDates></DOB></GCF></filters><options><includeSources>YES</includeSources><includeDetails>YES</includeDetails><addAlert>NO</addAlert></options></custom><certifications><purpose>EMPLOYMENT</purpose><jurisdiction>CT</jurisdiction></certifications><response><detail
        sourceVersion="2971"><offenders qtyFound="0" qtyReturned="0" /></detail><databases
        version="2971"><database><name>CT</name><datasources><source sourceId="0">Connecticut
        Sex Offender</source><source sourceId="2">Connecticut Dept of Corrections
        </source><source sourceId="4">Connecticut Admin Office of Courts</source><source
        sourceId="5">Connecticut Department of Public Safety</source></datasources></database><database><name>IL</name><datasources><source
        sourceId="0">Illinois Sex Offender</source><source sourceId="2">Illinois Dept
        of Corrections</source><source sourceId="3">Illinois Department of Cor[...]
