interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <BGC version="4.14" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><login><user>bgc_user</user><password>bgc_password</password><account>99999999</account></login><product><USOneTrace
      version="1"><order><SSN>999999993</SSN><firstName>Test</firstName><lastName>NULL</lastName></order></USOneTrace></product></BGC>'
    headers:
    method: POST
    uri: https://direct2m.backgroundchecks.com/integration/bgcdirectpost.aspx
  response:
    body: {string: '<BGC orderId="a16c80cf-34c2-477a-af34-ad46d04f99df"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.backgroundchecks.com/BgcDirect.Model/4.14/OnlineResponse.xsd"><product><USOneTrace
        version="1"><order><SSN>XXXXX9993</SSN><lastName>NULL</lastName><firstName>Test</firstName></order><response><errors><error
        code="20">Security Violation: Unable to match name provided to results from
        SSN Trace.</error></errors><records /></response></USOneTrace></product></BGC>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
