interactions:
- request:
    body: '{"username": "joeljackson", "password": "(SIJMn&L4&", "email": "fpeters@hunter.com",
      "first_name": "Sean", "last_name": "King", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Elizabeth Evans MD"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/CG_IrxhBufGXUTsquomZnIVM60lGFPs_/']
    status: {code: 201, message: Created}
version: 1
