interactions:
- request:
    body: '{"username": "waltonjonathan", "password": "joIl9Se#@1", "email": "davidjohnson@hotmail.com",
      "first_name": "Jackie", "last_name": "Weber", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Ian Meza"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/QRH1wqXZoNdgVP_n0jVCgdRa_k-RbFvo/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/QRH1wqXZoNdgVP_n0jVCgdRa_k-RbFvo/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/QRH1wqXZoNdgVP_n0jVCgdRa_k-RbFvo/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/QRH1wqXZoNdgVP_n0jVCgdRa_k-RbFvo/token/
  response:
    body: {string: '[{"key":"hpKm31lNqDgn898_ZpMmWK_Uwoo=","create_at":"2019-03-27T18:02:14.619999Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token hpKm31lNqDgn898_ZpMmWK_Uwoo=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Darren", "last_name": "Kelley", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token hpKm31lNqDgn898_ZpMmWK_Uwoo=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://laniidae:8000/profiles/elTXeWT2O2QHfCRkUhhlxZqM4fqbnE-9/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token hpKm31lNqDgn898_ZpMmWK_Uwoo=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/profiles/elTXeWT2O2QHfCRkUhhlxZqM4fqbnE-9/
  response:
    body: {string: '{"pk":"elTXeWT2O2QHfCRkUhhlxZqM4fqbnE-9","create_at":"2019-03-27T18:02:14.843483Z","update_at":"2019-03-27T18:02:14.843511Z","complete_at":null,"status":"wait","url":"http://laniidae:8000/profiles/elTXeWT2O2QHfCRkUhhlxZqM4fqbnE-9/","detail":{},"meta":{}}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
