interactions:
- request:
    body: '{"username": "nicholas43", "password": "Nd2LmhC7I%", "email": "brownkenneth@hotmail.com",
      "first_name": "Isaac", "last_name": "Herman", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Dorothy Moses"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/byr1b1QOQTRtoT91B0_ap5EDCOySteqZ/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/byr1b1QOQTRtoT91B0_ap5EDCOySteqZ/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/byr1b1QOQTRtoT91B0_ap5EDCOySteqZ/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/byr1b1QOQTRtoT91B0_ap5EDCOySteqZ/token/
  response:
    body: {string: '[{"key":"9dT6gKJtRpxRju6P5hw2bExTQQY=","create_at":"2019-03-26T19:21:22.656534Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token 9dT6gKJtRpxRju6P5hw2bExTQQY=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Caitlin", "last_name": "Black", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token 9dT6gKJtRpxRju6P5hw2bExTQQY=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://laniidae:8000/profiles/_EuIUJ3YuzvNWEzTt5aQHXGYFCDdd99Z/']
    status: {code: 201, message: Created}
version: 1
