interactions:
- request:
    body: '{"username": "conneremily", "password": "5(p2AFH_@a", "email": "mpeterson@hotmail.com",
      "first_name": "Roberto", "last_name": "Gutierrez", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Sean Chambers"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/MGE8pQ4UrkZigYU395Nm-lmr6Bbemgfr/']
    status: {code: 201, message: Created}
version: 1
