interactions:
- request:
    body: '{"username": "pellison", "password": "xIdo0PIk_7", "email": "danboyd@hotmail.com",
      "first_name": "Raymond", "last_name": "Harrison", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "David Baldwin"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/LRsW1ngTJj-ian0tgyK_DXtzBDBqbZrj/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/LRsW1ngTJj-ian0tgyK_DXtzBDBqbZrj/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/LRsW1ngTJj-ian0tgyK_DXtzBDBqbZrj/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/LRsW1ngTJj-ian0tgyK_DXtzBDBqbZrj/token/
  response:
    body: {string: '[{"key":"JOf0Dm1D2V1p9eYGblBLmi5pxfg=","create_at":"2019-03-26T19:21:23.130434Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token JOf0Dm1D2V1p9eYGblBLmi5pxfg=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
version: 1
