interactions:
- request:
    body: '{"username": "hardydustin", "password": "P4+K(P&p)$", "email": "darlene89@gmail.com",
      "first_name": "Eric", "last_name": "Daniels", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Karen Hernandez"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/5cXlzQQ77Qwll_dvulqPcA-zBVFZ9eBq/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/5cXlzQQ77Qwll_dvulqPcA-zBVFZ9eBq/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/5cXlzQQ77Qwll_dvulqPcA-zBVFZ9eBq/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/5cXlzQQ77Qwll_dvulqPcA-zBVFZ9eBq/token/
  response:
    body: {string: '[{"key":"SEexx2dDHO4iSNXQxMpwoW-U3gI=","create_at":"2019-03-26T19:21:22.358165Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
version: 1
