interactions:
- request:
    body: '{"username": "michaelmills", "password": "(8YVM2vcBo", "email": "barnesjeffrey@wise-wilkerson.biz",
      "first_name": "Kelly", "last_name": "Butler", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Steven Garcia"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/koNyuVVWDXgVF7xmoIOWR9zhkgtn8QzN/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/koNyuVVWDXgVF7xmoIOWR9zhkgtn8QzN/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/koNyuVVWDXgVF7xmoIOWR9zhkgtn8QzN/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/koNyuVVWDXgVF7xmoIOWR9zhkgtn8QzN/token/
  response:
    body: {string: '[{"key":"ctNn8WvX2leRmKMT7VgKMxzpVYQ=","create_at":"2019-03-27T18:02:12.533776Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
version: 1
