interactions:
- request:
    body: '{"username": "guerreroalexandra", "password": "*78_TPigaJ", "email": "tatekenneth@yahoo.com",
      "first_name": "Maria", "last_name": "Tyler", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Michael Reeves"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://127.0.0.1:8000/users/Knz6vzolCNOYWTvAggmTqUTRjZyZfKQK/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/users/Knz6vzolCNOYWTvAggmTqUTRjZyZfKQK/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/Knz6vzolCNOYWTvAggmTqUTRjZyZfKQK/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://127.0.0.1:8000/users/Knz6vzolCNOYWTvAggmTqUTRjZyZfKQK/token/
  response:
    body: {string: '[{"key":"OSDPoDqdPog9KqVSrjSc555cDNU=","create_at":"2019-03-15T02:35:16.019273Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token OSDPoDqdPog9KqVSrjSc555cDNU=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "William", "last_name": "Vazquez", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token OSDPoDqdPog9KqVSrjSc555cDNU=]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://127.0.0.1:8000/profiles/XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token OSDPoDqdPog9KqVSrjSc555cDNU=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/profiles/XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j/
  response:
    body: {string: '{"pk":"XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j","create_at":"2019-03-15T02:35:16.275989Z","update_at":"2019-03-15T02:35:17.864940Z","complete_at":null,"status":"error","url":"http://127.0.0.1:8000/profiles/XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j/"}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token OSDPoDqdPog9KqVSrjSc555cDNU=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/profiles/XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j/
  response:
    body: {string: '{"pk":"XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j","create_at":"2019-03-15T02:35:16.275989Z","update_at":"2019-03-15T02:35:17.864940Z","complete_at":null,"status":"error","url":"http://127.0.0.1:8000/profiles/XgEFqXz1pYZHfnfdwWJn9cp01wMKfF3j/"}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
