interactions:
- request:
    body: '{"username": "ifox", "password": "d7bBCK8U!V", "email": "martinjames@gmail.com",
      "first_name": "Beth", "last_name": "Simmons", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Samuel Wilson"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/oLNYeLK2odIHkyq8ji0y0HD1a1ZzSQTe/']
    status: {code: 201, message: Created}
version: 1
