interactions:
- request:
    body: '{"username": "sanderscynthia", "password": "+1$6Hfzm+I", "email": "weeksmichael@montgomery.com",
      "first_name": "Kathy", "last_name": "Pearson", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Jerry Davis"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/sBO1uBfj4RyqeKN_-6xla3shxng301yg/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/sBO1uBfj4RyqeKN_-6xla3shxng301yg/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/sBO1uBfj4RyqeKN_-6xla3shxng301yg/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/sBO1uBfj4RyqeKN_-6xla3shxng301yg/token/
  response:
    body: {string: '[{"key":"XHpTdjB3hbVu_Rssahzw8YnbbJ8=","create_at":"2019-03-27T18:02:13.705280Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token XHpTdjB3hbVu_Rssahzw8YnbbJ8=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
version: 1
