interactions:
- request:
    body: '{"username": "nfreeman", "password": "N9#67JJp0K", "email": "medwards@byrd.biz",
      "first_name": "Elizabeth", "last_name": "Lee", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Alex Young"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/S7l-uz31146Ar9EQ9fJGdp7-lKNn516n/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/S7l-uz31146Ar9EQ9fJGdp7-lKNn516n/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/S7l-uz31146Ar9EQ9fJGdp7-lKNn516n/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/S7l-uz31146Ar9EQ9fJGdp7-lKNn516n/token/
  response:
    body: {string: '[{"key":"AI0PoUL4xo8nULRN5wG69PK0e4E=","create_at":"2019-03-27T18:02:14.044298Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token AI0PoUL4xo8nULRN5wG69PK0e4E=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Andrea", "last_name": "Thompson", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token AI0PoUL4xo8nULRN5wG69PK0e4E=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://laniidae:8000/profiles/hALSF6Dclpju8tFWKJoYPgLsJLtITzQm/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token AI0PoUL4xo8nULRN5wG69PK0e4E=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/profiles/hALSF6Dclpju8tFWKJoYPgLsJLtITzQm/
  response:
    body: {string: '{"pk":"hALSF6Dclpju8tFWKJoYPgLsJLtITzQm","create_at":"2019-03-27T18:02:14.267525Z","update_at":"2019-03-27T18:02:14.267552Z","complete_at":null,"status":"wait","url":"http://laniidae:8000/profiles/hALSF6Dclpju8tFWKJoYPgLsJLtITzQm/","detail":{},"meta":{}}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/profiles/hALSF6Dclpju8tFWKJoYPgLsJLtITzQm/
  response:
    body: {string: '{"pk":"hALSF6Dclpju8tFWKJoYPgLsJLtITzQm","create_at":"2019-03-27T18:02:14.267525Z","update_at":"2019-03-27T18:02:14.267552Z","complete_at":null,"status":"wait","url":"http://laniidae:8000/profiles/hALSF6Dclpju8tFWKJoYPgLsJLtITzQm/","detail":{},"meta":{}}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
