interactions:
- request:
    body: '{"username": "heatherchambers", "password": "@F4Kv3Bfr_", "email": "scott17@williams.com",
      "first_name": "Mallory", "last_name": "Herman", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Trevor Elliott"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/Jgwh81f43KK6d0TkvLCFYba8FgOXSxHL/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/Jgwh81f43KK6d0TkvLCFYba8FgOXSxHL/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/Jgwh81f43KK6d0TkvLCFYba8FgOXSxHL/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/Jgwh81f43KK6d0TkvLCFYba8FgOXSxHL/token/
  response:
    body: {string: '[{"key":"BrJYjCBpIqRWmCDGGFVSeQsElTI=","create_at":"2019-03-26T19:24:07.217102Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token BrJYjCBpIqRWmCDGGFVSeQsElTI=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"9p7DHx7uSauTtkmq6QlZ2S4TiqoHP4X0","name":"compass_2","dependencies":[]},{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['2']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['2']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Amanda", "last_name": "Leblanc", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token BrJYjCBpIqRWmCDGGFVSeQsElTI=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/packages/9p7DHx7uSauTtkmq6QlZ2S4TiqoHP4X0/check/
  response:
    body: {string: "ValueError at /packages/9p7DHx7uSauTtkmq6QlZ2S4TiqoHP4X0/check/\nEmpty
        module name\n\nRequest Method: POST\nRequest URL: http://laniidae:8000/packages/9p7DHx7uSauTtkmq6QlZ2S4TiqoHP4X0/check/\nDjango
        Version: 2.1.5\nPython Executable: /home/dem4ply/Documentos/proyectos/work_turn/laniidae/venv/bin/python\nPython
        Version: 3.7.1\nPython Path: ['/home/dem4ply/Documentos/proyectos/work_turn/laniidae',
        '/home/dem4ply/Documentos/proyectos/work_turn/laniidae', '/home/dem4ply/Documentos/proyectos/work_turn/laniidae/venv/lib/python37.zip',
        '/home/dem4ply/Documentos/proyectos/work_turn/laniidae/venv/lib/python3.7',
        '/home/dem4ply/Documentos/proyectos/work_turn/laniidae/venv/lib/python3.7/lib-dynload',
        '/usr/lib64/python3.7', '/usr/lib/python3.7', '/home/dem4ply/Documentos/proyectos/work_turn/laniidae/venv/lib/python3.7/site-packages',
        '/home/dem4ply/Documentos/proyectos/work_turn/tetrapod', '/home/dem4ply/Documentos/proyectos/work_turn/mudskipper',
        '/home/dem4ply/Documentos/proyectos/chibi_django', '/usr/lib/python3.7/site-packages',
        '/home/dem4ply/Documentos/proyectos/others/pyw3mimg', '/home/dem4ply/Documentos/proyectos/chibi',
        '/home/dem4ply/Documentos/proyectos/chibi_genjuu', '/home/dem4ply/Documentos/proyectos/work_turn/laniidae']\nServer
        time: Tue, 26 Mar 2019 19:24:07 +0000\nInstalled Applications:\n['django.contrib.admin',\n
        'django.contrib.auth',\n 'django.contrib.contenttypes',\n 'django.contrib.sessions',\n
        'django.contrib.messages',\n 'django.contrib.staticfiles',\n 'django_extensions',\n
        'rest_framework',\n 'corsheaders',\n 'chibi_django',\n 'chibi_user',\n 'partner',\n
        'package',\n 'profiles',\n 'hookshot']\nInstalled Middleware:\n('whitenoise.middleware.WhiteNoiseMiddleware',\n
        'django[...]
