interactions:
- request:
    body: '{"username": "kathleensmith", "password": "&3R%bUIs8M", "email": "sjohnson@gmail.com",
      "first_name": "Blake", "last_name": "Frey", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Jessica Peterson"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://127.0.0.1:8000/users/xofaNmT63L7srzy64EZfI3PEgB9D78ax/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/users/xofaNmT63L7srzy64EZfI3PEgB9D78ax/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/xofaNmT63L7srzy64EZfI3PEgB9D78ax/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://127.0.0.1:8000/users/xofaNmT63L7srzy64EZfI3PEgB9D78ax/token/
  response:
    body: {string: '[{"key":"CtPprdGuNBFOYxsWgLy2hUq9ZDM=","create_at":"2019-03-15T03:02:48.552599Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token CtPprdGuNBFOYxsWgLy2hUq9ZDM=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Leroy", "last_name": "Adams", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token CtPprdGuNBFOYxsWgLy2hUq9ZDM=]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://127.0.0.1:8000/profiles/j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token CtPprdGuNBFOYxsWgLy2hUq9ZDM=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/profiles/j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB/
  response:
    body: {string: '{"pk":"j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB","create_at":"2019-03-15T03:02:48.782834Z","update_at":"2019-03-15T03:02:49.021863Z","complete_at":null,"status":"proccess","url":"http://127.0.0.1:8000/profiles/j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB/"}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/profiles/j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB/
  response:
    body: {string: '{"pk":"j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB","create_at":"2019-03-15T03:02:48.782834Z","update_at":"2019-03-15T03:02:49.021863Z","complete_at":null,"status":"proccess","url":"http://127.0.0.1:8000/profiles/j_Al6v7JUheSUNI9_XEFPNeOOzDKKazB/"}'}
    headers:
      Allow: ['GET, PUT, PATCH, DELETE, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
