interactions:
- request:
    body: '{"username": "sarah31", "password": "^tue8_Nn!_", "email": "davidbarajas@gmail.com",
      "first_name": "Cynthia", "last_name": "Harris", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Jamie Brown"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/s8G4uVSeBp0Pgyxc8SgldDWIebJcMm-w/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/s8G4uVSeBp0Pgyxc8SgldDWIebJcMm-w/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/s8G4uVSeBp0Pgyxc8SgldDWIebJcMm-w/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/s8G4uVSeBp0Pgyxc8SgldDWIebJcMm-w/token/
  response:
    body: {string: '[{"key":"yCIU5RGIhB1cv64DQRyojtEzFAE=","create_at":"2019-03-26T19:21:23.467336Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token yCIU5RGIhB1cv64DQRyojtEzFAE=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Token yCIU5RGIhB1cv64DQRyojtEzFAE=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"9p7DHx7uSauTtkmq6QlZ2S4TiqoHP4X0","name":"compass_2","dependencies":[]},{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['2']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['2']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Token yCIU5RGIhB1cv64DQRyojtEzFAE=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token yCIU5RGIhB1cv64DQRyojtEzFAE=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"9p7DHx7uSauTtkmq6QlZ2S4TiqoHP4X0","name":"compass_2","dependencies":[]},{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['2']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['2']
    status: {code: 200, message: OK}
version: 1
