interactions:
- request:
    body: '{"username": "christophermiller", "password": ")xQO^q2v(3", "email": "garrettjeremy@hotmail.com",
      "first_name": "Colleen", "last_name": "Reilly", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Timothy Stevens"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/Y1rgKnvXdyYVG0Q-Wyxr2bJpjWkv6te-/']
    status: {code: 201, message: Created}
version: 1
