interactions:
- request:
    body: '{"username": "kathleenmurphy", "password": "*)gPK*9sH9", "email": "jenniferdavis@booker-foley.com",
      "first_name": "Andrea", "last_name": "Brown", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Melissa Morgan"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://laniidae:8000/users/wivaWVn_YnsltaAil9enTdvRaygOcR10/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/users/wivaWVn_YnsltaAil9enTdvRaygOcR10/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/wivaWVn_YnsltaAil9enTdvRaygOcR10/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://laniidae:8000/users/wivaWVn_YnsltaAil9enTdvRaygOcR10/token/
  response:
    body: {string: '[{"key":"BaIn9tcgpUV54o4Q7rNUUpiMrBk=","create_at":"2019-03-27T18:02:12.831138Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token BaIn9tcgpUV54o4Q7rNUUpiMrBk=]
      Content-Type: [application/json]
    method: GET
    uri: http://laniidae:8000/packages/?name=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Gregory", "last_name": "Lynch", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token BaIn9tcgpUV54o4Q7rNUUpiMrBk=]
      Content-Type: [application/json]
    method: POST
    uri: http://laniidae:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://laniidae:8000/profiles/fdjCFy3oqQT7mGDCzy5Wx8FQSJHfhl0j/']
    status: {code: 201, message: Created}
version: 1
