interactions:
- request:
    body: '{"username": "elainejones", "password": "$D4&TA+c4i", "email": "joseph24@hotmail.com",
      "first_name": "Ronald", "last_name": "Ritter", "is_superuser": false, "is_staff":
      false, "partners": [{"name": "Brian Shelton"}], "hookshot": {"url": "http://google.com"}}'
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:8000/users/
  response:
    body: {string: ''}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Location: ['http://127.0.0.1:8000/users/EZPQYnL3YijKQWAofAsRU_5droODRfpX/']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/users/EZPQYnL3YijKQWAofAsRU_5droODRfpX/token
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: [/users/EZPQYnL3YijKQWAofAsRU_5droODRfpX/token/]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
      Authorization: [Token o8S7u_x_zsbMwHVaEvbKu0mkLAA=]
    method: GET
    uri: http://127.0.0.1:8000/users/EZPQYnL3YijKQWAofAsRU_5droODRfpX/token/
  response:
    body: {string: '[{"key":"rBTeUVQuefNuzn-Jx1MpBCSgyaI=","create_at":"2019-03-15T00:55:44.459155Z"}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Token rBTeUVQuefNuzn-Jx1MpBCSgyaI=]
      Content-Type: [application/json]
    method: GET
    uri: http://127.0.0.1:8000/packages/?name__eq=compass
  response:
    body: {string: '[{"pk":"I67tp78e2HUchd7f5BH7WefEPn9iW9z0","name":"compass","dependencies":[]}]'}
    headers:
      Allow: ['GET, POST, HEAD, OPTIONS']
      Content-Type: [application/json]
      X-Pagination-Current-Page: ['1']
      X-Pagination-Page-Count: ['1']
      X-Pagination-Per-Page: ['10']
      X-Pagination-Total-Count: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"first_name": "Norman", "last_name": "Fuentes", "state": "IL", "driver_license_number":
      "123456789", "date_of_birth": "1980-01-01", "gender": ""}'
    headers:
      Authorization: [Token rBTeUVQuefNuzn-Jx1MpBCSgyaI=]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:8000/packages/I67tp78e2HUchd7f5BH7WefEPn9iW9z0/check/
  response:
    body: {string: ''}
    headers:
      Allow: ['POST, OPTIONS']
      Location: ['http://127.0.0.1:8000/profiles/g96ErKwhP6rFLNRyirRC1t1PXRRqZZXJ/']
    status: {code: 201, message: Created}
version: 1
